<form action="/contacts" method="POST" role="form" >

  <div class="mb-3">
    <label class="form-label">Email адресс</label>
    <input name ="contact_email" type="text" class="form-control"  placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label class="form-label">Сообщение</label>
    <textarea name="contact_message" class="form-control"  rows="5"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Отправить</button>

</form>